@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  font-family: 'Varela Round', sans-serif;
}

.headerUl {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
}

li {
  display: inline-block;
  align-items: center;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  position: relative;
  top: 40%;
}


.used {
  color: #3b8264;
}

body {
  background-color: #191919;
}

.headerBox:not(img) {
  background-color: #111;
  height: 80px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .headerInsideBox {
    width: 40vw;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px){
  .headerInsideBox {
    width: 80vw;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  position: relative;
  top: 5%;
  float: left;
  width: 70px;
  height: 70px;
}

.ProfessionalParent {
  display: flex;
}

.NoobChild {
  display: flex;
  align-items: center;
  flex: 1;
  height: calc(100vh - 80px);
  justify-content: center;

}

.evenNobieChild {
  background-color: #111;
  width: 80%;
  height: 80%;
  border: 2px solid black;
  border-radius: 15px;
}

.wotMate {
  padding-left: 25px;
  padding-right: 25px;
}

.wotMate h2 {
  color: white;
}

.wotMate article {
  color: white;
}

.spaceMyFriend {
  height: 12px;
  display: block;
  width: 100%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: none /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #3b8264;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3b8264;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label {
  color: white;
}
